.centeredStyle
  text-align: center
  padding: 1rem

.courseCards
  display: inline-block
  padding: 1rem
  max-width: 33%
  min-width: 20rem

.courseCard
  height: 30rem
  margin: 1rem

.courseIcon
  width: 30%

.showMore
  margin-top: 6rem
  margin-left: 3rem
  display: inline-block !important

.showMoreLess
  margin: 1rem 1rem 1rem 5rem