.taskWrapper
  display: block
  width: 100%
  .taskContainer
    display: inline-block
.taskColumn
  -webkit-transition-duration: 0.5s
  -moz-transition-duration: 0.5s
  -o-transition-duration: 0.5s
  align-items: baseline !important
  display: block !important

.taskColumn:hover

.taskSegment

.taskText
  display: inline-block
  position: absolute

