.courseDetailSegment {
  height: 80%; }

.courseProgress {
  position: relative;
  bottom: 0; }

.centeredStyle {
  text-align: center;
  padding: 1rem;
  text-transform: uppercase; }

#courseHeaderIcon .courseIcon {
  width: 100%; }
