.headerBar {
  width: 100%;
  text-align: right;
  margin: 0;
  top: 0;
  background-color: #222222;
  position: fixed;
  z-index: 2; }

.headerSearch {
  right: 0;
  padding: 0.75rem;
  -webkit-box-shadow: 0px 5px 10px rgba(34, 34, 34, 0.5);
  -moz-box-shadow: 0px 5px 10px rgba(34, 34, 34, 0.5);
  box-shadow: 0px 5px 10px rgba(34, 34, 34, 0.5); }

.SearchComponent {
  padding: .5rem; }
