.sidebar {
  height: 100%;
  bottom: 0;
  display: inherit;
  background-color: #313131;
  color: white;
  text-decoration: none;
  padding: 5rem 1.5rem 1rem 1rem;
  position: fixed;
  -webkit-box-shadow: 3px 5px 10px rgba(34, 34, 34, 0.5);
  -moz-box-shadow: 3px 5px 10px rgba(34, 34, 34, 0.5);
  box-shadow: 3px 5px 10px rgba(34, 34, 34, 0.5); }
  .sidebar li {
    list-style: none;
    margin-bottom: 1rem; }

.topList {
  font-size: 1.2rem; }

.bottomList {
  position: fixed;
  bottom: 3%; }
